@charset "utf-8";

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0;}
body{font-family:'Microsoft YaHei',"simSun","Arial", "Helvetica", "sans-serif"; color:#333}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{}
q:before,q:after{content:"";}
abbr,acronym{ border:0;}
a{text-decoration:none; color:#333; outline:none;star:expression_r(this.onFocus=this.blur());blr:expression(this.onFocus=this.blur());}
img{ display:inline; border:none;font-size:0px;}
input,textarea{outline:none;}


/* CSS Document */

body {
	font-size: 13px;
	line-height: 2em;
    font-family: 'arial', 'microsoft yahei', Verdana, Geneva, sans-serif;
}

.clearFix {
    zoom: 1;
}

.clearFix:after {
	content: '';
    clear: both;
    display: table;
    box-sizing: border-box;
}

.container{max-width: 720px;width: 100%;margin: 0 auto;min-height: 600px;background: #fff;padding-bottom: 90px;}
.container-fixed{padding-top: 40px;}
.main-nav{border-top: 1px solid #f5f5f5;position: fixed;z-index: 10;width: 100%;bottom: 0;left: 0;}
.main-nav ul{background: #fff;display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.main-nav li a{display: block;height: 70px;padding-top: 10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.main-nav li{-webkit-flex:1;flex:1;text-align: center;height: 70px;font-size:13px;line-height: 2em;}
.main-nav .icon{display: block;width: 28px;height: 30px;margin: 0 auto;background:url(../images/css-spd.png) 0 0 no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;}
.main-nav li:nth-child(1) .icon{background-position: 0 0;}
.main-nav li:nth-child(2) .icon{background-position: 3px -36px;}
.main-nav li:nth-child(3) .icon{background-position: 0 0;}
.main-nav li:nth-child(4) .icon{background-position: 0 -71px;}
.main-nav li:nth-child(5) .icon{background-position: 3px -106px;}
/*.main-nav .calling {position: relative;}
.main-nav .calling .icon{position: relative;width: 60px;height: 60px;}
.main-nav .calling .icon i{position: relative;z-index: 3;display: block;margin: 1px auto;width: 58px;height: 58px;border: 4px solid #fff;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;border-radius: 100%;background: #f00;display: block;}
*/


.main-nav .calling .icon{position: relative;width: 60px;height: 60px;margin-top: -30px;background:none;}
.main-nav .calling .icon i{background:url(../images/css-spd.png) -1px -178px no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;position: relative;z-index: 3;display: block;margin: 1px auto;width: 58px;height: 58px;border: 4px solid #fff;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;border-radius: 100%;display: block;} 
.main-nav .calling .icon:before{content: '';position: absolute;z-index: 1;top: -1px;left:0;width: 100%;height: 50%;border: 1px solid #f5f5f5;border-bottom: none;border-top-left-radius: 30px;border-top-right-radius: 30px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.main-nav .calling .icon:after{content: '';position: absolute;z-index: 2;top: 50%;left:0;right: 0;margin-top: -11px;height: 10px;background: #fff;}

.main-nav li.active a{color: #fb8472;}
.main-nav li:nth-child(1).active .icon{background-position: -36px 0;}
.main-nav li:nth-child(2).active .icon{background-position: -33px -36px;}
.main-nav li:nth-child(3).active .icon{background-position: 0 0;}
.main-nav .calling.active .icon i{background-position: -1px -250px ;}
.main-nav li:nth-child(4).active .icon{background-position: -36px -71px;}
.main-nav li:nth-child(5).active .icon{background-position: -33px -106px;}


.header-search{padding:5px 50px 0 66px;}
.header-search .logo{float: left;margin:5px 0 0 -56px;width: 46px;height: 22px;background:url(../images/css-spd.png) -71px 0 no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;}
.header-search form{display: block;background: #f2f2f0;border-radius: 3px;padding-left: 28px;}
.header-search form input{background:none;outline: none;-webkit-box-shadow: inset 0 0 20px 0 #f2f2f0  ;
box-shadow: inset 0 0 20px 0 #f2f2f0 ;display: block;width: 100%;border-width: 0;font-size: 14px;padding: 7px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.header-search form .icon{float: left;margin-left: -20px;margin-top: 7px;width: 18px;height: 18px;background:url(../images/css-spd.png) -71px -35px no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;}
.header-search .cart{position: relative;float: right;margin-right: -35px;width: 26px;height: 28px;background:url(../images/css-spd.png) 0 -71px no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;}
.header-search .cart .num{font-style: normal;font-size: 12px;width: 16px;height: 16px;border-radius: 100%;text-align: center;line-height: 16px;position: absolute;right: -5px;top: 0;background: #189fd1;color: #fff;}


.icon-back{position: relative;width: 20px;height: 20px;display:inline-block;vertical-align: middle;}
.icon-back:after{content: '';position: absolute;left: 50%;top: 50%;margin: -6px 0 0 -6px;-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);border: 1px solid #000;border-right: 0;border-bottom: 0;border-radius: 1px;width: 12px;height: 12px;}

.icon-next{position: relative;width: 20px;height: 20px;display:inline-block;vertical-align: middle;}
.icon-next:after{content: '';position: absolute;left: 50%;top: 50%;margin: -6px 0 0 -6px;-webkit-transform: rotate(135deg);
-ms-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);border: 1px solid #000;border-right: 0;border-bottom: 0;border-radius: 1px;width: 12px;height: 12px;}


.search-header{padding:5px 50px 0 40px;margin-bottom: 20px;}
.search-header .btn-return{float: left;margin:5px 0 0 -30px;width: 30px;height: 22px;}
.search-header form{position: relative;display: block;background: #f2f2f0;border-radius: 3px;padding-left: 28px;}
.search-header form input{background:none;outline: none;-webkit-box-shadow: inset 0 0 20px 0 #f2f2f0  ;
box-shadow: inset 0 0 20px 0 #f2f2f0 ;display: block;width: 100%;border-width: 0;font-size: 14px;padding: 7px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.search-header form .icon{float: left;margin-left: -20px;margin-top: 7px;width: 18px;height: 18px;background:url(../images/css-spd.png) -71px -35px no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;}
.search-header input[type="submit"]{position: absolute;top: 0;right: -45px;width: 40px;background: #fff;color:#f55e56;height: 30px;line-height: 30px;padding: 0;border-width: 0;-webkit-box-shadow: none; box-shadow: none;}




































