@charset "utf-8";
.i-banner img{display: block;}
.i-banner .swiper-pagination{line-height: 0;background: rgba(255,255,255,.2);width: 40%;left: 50%;margin-left: -20%;border-radius: 10px;padding: 2px 0;}
.i-banner .swiper-pagination-bullet{background: none;border: 1px solid #fff;width: 8px;height: 8px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.i-banner .swiper-pagination-bullet-active{background: #f55c54;border-color: #f55c54;}

.i-qEnter ul{padding: 10px;display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.i-qEnter li{-webkit-flex:1;flex: 1;text-align: center;}
.i-qEnter li .icon{display: block;width: 55px;height: 55px;margin: 0 auto;background: url(../images/css-spd.png) 0 0 no-repeat;-webkit-background-size: 600px 600px; background-size: 600px 600px;}
.i-qEnter li:nth-child(1) .icon{background-position: 0 -319px;}
.i-qEnter li:nth-child(2) .icon{background-position: 0 -390px;}
.i-qEnter li:nth-child(3) .icon{background-position: 0 -461px;}
.i-qEnter li:nth-child(4) .icon{background-position: 0 -531px;}
.i-qEnter li i{font-size: 13px;font-style: normal;}

.i-linkBan{padding: 0 10px;margin-bottom: 10px;}
.i-linkBan img{display: block;}
.i-linkGoods{padding: 0 10px;margin-bottom: 10px;}
.i-linkGoods ul{margin: 0 -5px;display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
.i-linkGoods li{-webkit-flex:1;flex:1;}
.i-linkGoods li a{display: block;position: relative;padding: 0 5px;}
.i-linkGoods li .t{line-height: 1em;position: absolute;top: 10px;left: 15px;color: #f64f7f;}

.i-tabList .tab{text-align: center;border-bottom: 1px solid #f55c54;margin-bottom: 10px;}
.i-tabList .tab .swiper-slide a{display: block;padding: 14px 0;line-height: 1em;}
.i-tabList .tab .swiper-slide.active a{background: #f55c54;color: #fff;}
.i-tabList h3{font-weight: normal;line-height: 2em;padding: 5px 10px;color: #999;}
.i-tabList .base{padding: 0 10px;margin-bottom: 10px;}
.i-tabList .base a{display: block;border: 1px solid #eee;padding: 0 0 10px 0;}
.i-tabList .base h4{padding: 0 5px;font-size: 12px;line-height: 1.5em;font-weight: normal;white-space: nowrap;overflow: hidden;-ms-text-overflow: ellipsis;
text-overflow: ellipsis;}
.i-tabList .base h4 + p{padding: 0 5px;font-size: 12px;line-height: 1.5em;color: #999;}
.i-tabList .base img{display: block;margin-bottom: 10px}